<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <p>PARAM SURESHBHAI GANDHI</p>
      <p>Student ID: N01539039</p>
    </header>
    
    <div id="dynamic-content">
     {{{body}}}
    </div>
    
    <footer>
    
      <p>Email: paramgandhi1010@gmail.com</p>
    </footer>
  </body>
</html>