<form action="/search/productLine" method="POST">
        <label for="productLine">Enter product Line:</label>
        <input type="text" id="productLine" name="productLine">
        <input type="submit" value="search">
    </form>