 <form action="/search/InvoiceID" method="POST">
        <label for="in">Enter InvoiceID:</label>
        <input type="text" id="in" name="in">
        <input type="submit" value="search">
    </form>